/** Stylus Styles*/

@import '../../node_modules/vuetify/src/stylus/settings/_colors'


$theme:={
  primary: "#33691e",
  secondary: "#64DD17",
  accent: "#004D40",
  error: "#DD2C00",
  warning: "#ffeb3b",
  info: "#2196f3",
  success: "#4caf50"
}
@import '../../node_modules/vuetify/src/stylus/main'
//@import '../../node_modules/vuetify/src/stylus/app'